.players {
  display: flex;
  flex-direction: column;
}

.player {
  display: flex;
  flex-direction: row;
  background-color: white;
  border-radius: 7pt;
  margin: 8pt;
  padding: 14pt;
}

.player-image {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  border: 1px solid rgb(241, 241, 244);
}

.player-info {
  width: 100%;
  padding-left: 12pt;
}

.player-name {
  color: rgb(110, 112, 145);
}

.player-total-point {
  color: rgb(52, 54, 76);
  font-size: 17pt;
  font-weight: 600;
}

nav a {
  padding: 5px 10px;
  text-decoration: none;
  margin-top: 10px;
  display: inline-block;
  background-color: #eee;
  border-radius: 4px;
}
nav a:visited, a:link {
  color: #334953;
}
nav a:hover {
  color: #039be5;
  background-color: #cfd8dc;
}
nav a.active {
  color: #039be5;
}