

  .toolbar {
    
    top: 0;
    left: 0;
    right: 0;
    height: 70px;
    display: flex;
    align-items: center;
    background-color: #31b36e;
    color: white;
    font-weight: 900;
    
    
  }
  a{
    color: white;
    margin-left: 15px;
  }
  a:link{
    text-decoration: white;
  }
  .footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #31b36e;
    color: white;
    text-align: center;
  }

.header-menu {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: flex-end;
}

.header-menu-user {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.header-menu-user-avatar {
  width: 48px;
  height: 48px;
  object-fit: cover;
  border-radius: 50%;
}

.logout {
  padding-right: 20px;
}
