

  .toolbar {
    
    top: 0;
    left: 0;
    right: 0;
    height: 70px;
    display: flex;
    align-items: center;
    background-color: #19d266;
    color: white;
    font-weight: 900;
    
    
  }
  a{
    color: white;
    margin-left: 15px;
  }
  a:link{
    text-decoration: white;
  }
